In [2]:
import pandas as pd
import numpy

csv20 = 'data/pit2020_race.csv'
csv19 = 'data/pit2019_race.csv'

df20 = pd.read_csv(csv20, index_col='id')
df19 = pd.read_csv(csv19, index_col='id')

dfMerged = pd.merge(df19, df20, on='race')

In [3]:
dfMerged.head(6)

,race_x,emergency_x,transitional_x,unsheltered_x,total_x,race_y,emergency_y,transitional_y,unsheltered_y,total_y
id,,,,,,,,,,
0,White,66.0,8.0,0.0,74.0,White,61.0,19.0,3.0,83.0
1,Black or African American,94.0,51.0,0.0,145.0,Black or African American,104.0,47.0,0.0,151.0
3,Asian,1.0,0.0,0.0,1.0,Asian,5.0,0.0,0.0,5.0
4,American Indian or Alaskan Native,2.0,0.0,0.0,2.0,American Indian or Alaskan Native,0.0,0.0,0.0,0.0
5,Native Hawaiian or Other Pacific Islander,0.0,0.0,0.0,0.0,Native Hawaiian or Other Pacific Islander,0.0,0.0,0.0,0.0
6,Multiple Races,31.0,9.0,0.0,40.0,Multiple Races,25.0,4.0,0.0,29.0